doctype html
html
    // Bootstrap CSS
    - var boot_css = "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    link(rel='stylesheet', href=boot_css, crossorigin="anonymous")

    head
        title 北医ネット(本当に作成初期の段階です) 
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        div(class="container")
            div(class="row")
                div(class="col")
                    h1 課題管理表
                div(class="col-md-12")
                    a(href="/write") 新規追加
                br
                table(class="table table-bordered")
                    thread(class="thread-dark")
                    - const array = ["NO", "課題", "理想の姿", "理想の姿とのギャップ","解決策"]
                    tr
                        each v in array
                            th(scope="col") #{v}

                    tbody
                        - for(var i = 0; i< posts.length; i++)
                            tr
                                td #{posts[i].id}
                                td #{posts[i].kadai}
                                td #{posts[i].risou}
                                td #{posts[i].gyappu}
                                td #{posts[i].kaiketsu}

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
            crossorigin="anonymous")
        script(src= "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js",
            integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP",
            crossorigin="anonymous")
